@model ShareDeployed.Common.Models.Revenue

@section Scripts
{
	@Scripts.Render("~/bundles/knockout")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jqueryui")
	<script type="text/javascript">
		function NewRevenuewViemModel() {

			var self = this;
			self.uploaded = ko.observable(false);
			self.failed = ko.observable(false);

			$("#Time").datepicker({ dateFormat: "yy-mm-dd" }).datepicker("setDate", "0");
			$('#Id').val('0');
			$('#UserId').val('0');

			self.clearFun = function () {
				$('#UserId').val('');
				$('#Name').val('');
				$('#Time').val('');
				$('#Amount').val('');
				$('#Description').val('');
			}

			self.beginUpload = function (formElement) {
				jQuery.support.cors = true;

				$(formElement).validate();
				if ($(formElement).valid()) {
					self.uploaded(true);

					var jqxhr = $.post('/api/revenue/complex', $('#addRevenueForm').serialize())
								.success(function () {
									self.uploaded(false);
									var loc = jqxhr.getResponseHeader('Location');
									var a = $('<a/>', { href: loc, text: loc });
									$('#message').html(a);
								})
								.error(function () {
									self.uploaded(false); self.failed(true);
									$('#message').html("Error posting the update.");
								});
				}
			}
		}

		ko.applyBindings(new NewRevenuewViemModel());
	</script>
}

@{
	if (Model != null)
	{
		Model.Time = DateTime.Now;
	}
}

<form id="addRevenueForm" data-bind="submit: beginUpload">
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Revenue</legend>
		@*@Html.EditorForModel()*@

		<div class="editor-label">
			@Html.LabelFor(model => model.Id)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Id)
			@Html.ValidationMessageFor(model => model.Id)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.UserId)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.UserId)
			@Html.ValidationMessageFor(model => model.UserId)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Time)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Time)
			@Html.ValidationMessageFor(model => model.Time)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Amount)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Amount)
			@Html.ValidationMessageFor(model => model.Amount)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Description)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Description)
			@Html.ValidationMessageFor(model => model.Description)
		</div>

		<p>
			<input type="submit" value="Save" />
			<button id="btClear" data-bind="click: clearFun">Clear</button>
		</p>
		<div id="message"></div>
		<img src="@Scripts.Url("~/Images/ajax-loader.gif")" data-bind="visible: uploaded()" />
		<p data-bind="visible: failed()">
			Fail to submit data!!!
		</p>
	</fieldset>
</form>
